@import "../../styles.css";


.header {
    color: #007bff;
    font-size: 24px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #363636;
}

.header__left {
    font-weight: bold;
}

.header__right {
    display: flex;
    gap: 40px;
    font-size: 18px;
}

.header__right a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header__right a:hover {
    color: #007bff;
}