@import "../../index.css";




.header {
    background-color: #4D4D4D;
    height: 75px;
    color: #007BFF;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header__left {
    font-weight: bold;
}

.header a{
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header a:hover{
    color:#007bff;
}


.header__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 24px;
    font-weight: bold;
}



.userLogo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    padding: 2px;
    transition: transform 0.3s ease;
}

.userLogo:hover {
    transform: scale(1.1);
}